/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: #82C9D4;
}
  
a {
    color: #82C9D4;
    text-decoration: none;
}
  
a:hover {
    color: #3c5662;
    text-decoration: none;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #3c5662;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}
  
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
  
.back-to-top:hover {
    background: #82C9D4;
    color: #fff;
}
  
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/  
#topbar {
    background: #82C9D4;
    padding: 10px 0;
    font-size: 14px;
}
  
#topbar .contact-info i {
    font-style: normal;
    color: #3c5662;
}
  
#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: #3c5662;
}
  
#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}
  
#topbar .contact-info i a:hover {
    color: #ffffff;
}
  
#topbar .social-links a {
    color: #3c5662;
    line-height: 0;
    transition: 0.3s;
    margin-left: 10px;
}
  
#topbar .social-links a:hover {
    color: #ffffff;
}
  
  /*--------------------------------------------------------------
  # Header
--------------------------------------------------------------*/
#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #545454;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
  
#header .logo h1 {
    font-size: 26px;
    padding: 0 0 0 8px;
    margin: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid #82C9D4;
}
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #545454;
    text-decoration: none;
}
  
#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 80px;
}
  
.scrolled-offset {
    margin-top: 70px;
}
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
  
.navbar li {
    position: relative;
}
  
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #82C9D4;
    white-space: nowrap;
    transition: 0.3s;
}
  
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
  
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #ffffff;
}
  
.navbar .getstarted,
.navbar .getstarted:focus {
    background: #e96b56;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}
  
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #ec7f6d;
}
  
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}
  
.navbar .dropdown ul li {
    min-width: 200px;
}
  
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #545454;
}
  
.navbar .dropdown ul a i {
    font-size: 12px;
}
  
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #e96b56;
}
  
.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
  
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
  
.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
  
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
}
  
.navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #545454;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
  
.mobile-nav-toggle.bi-x {
    color: #fff;
}
  
@media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
}
  
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(59, 59, 59, 0.9);
    transition: 0.3s;
    z-index: 999;
}
  
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
  
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
  
.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #545454;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #e96b56;
}
  
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}
  
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
  
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
  
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
  
.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #e96b56;
}
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
}
.projects {
  background: var(--black);
}

.projects .heading {
  color: var(--white);
}

.projects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.projects .box-container .box {
  cursor: initial;
}

.projects .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}

.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.projects .box-container .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}

.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}

.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.projects .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}

.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}